@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #0e0f11;
    --foreground: 0 0% 98%;
    --card-from: #101012;
    --card-to: #13151b;
    --text-primary: #dcdee2;
    --text-secondary: #585858;
    --text-para: #a6a6a7;
    --purple: #6745c1;
    --gold-from: #ffd089;
    --gold-to: #c67700;
    --brown: #6a4100;
    --border-to: #171a21;
    --border-from: #1c222c;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #00fd8b;
    --primary-foreground: 147, 98%, 58%;
    --secondary: #1c1c1c;
    --secondary-foreground: 0 0% 98%;
    --muted: #101010;
    --muted-foreground: 216, 2%, 57%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --gray-text-1: #7d7d89;
    --gray-text-2: #8a8a8a;
  }
}
